<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class="card-body" *ngIf="visualize">
      <form novalidate
            (ngSubmit)="saveCompeticion()"
            [formGroup]="competicionForm">
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="lugarId">Lugar</label>
  
          <div class="col-md-8">
            <input class="form-control"
                   id="lugarId"
                   type="text"
                   placeholder="Lugar (required)"
                   formControlName="lugar"
                   name="lugar" />
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button class="btn btn-primary mr-3"                    
                    type="submit">
              Save
            </button>
            <button class="btn btn-outline-secondary mr-3"                    
                    type="button"
                    title="Cancel your edits"
                    [routerLink]="['']">
              Cancel
            </button>
            <button class="btn btn-outline-warning"                  
                    type="button"
                    title="Delete this trip"
                    (click)="deleteCompeticion()">
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>
  
    <div class="alert alert-danger"
         *ngIf="errorMessage">{{errorMessage}}
    </div>
  </div>